<div class="container">
  <div class="row">
    <div class="col-lg-12"><h1>Employee Address Book</h1></div>
  </div>
  <div class="row">
    <div class="col-lg-12"><hr/></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p-table #dt [value]="employees" [columns]="cols" selectionMode="single" [(selection)]="selectedEmployee">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input *ngSwitchCase="'firstName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input *ngSwitchCase="'lastName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input *ngSwitchCase="'department'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2"><button type="button" class="btn btn-primary" (click)="showAddEmployeeDialog()">Add Employee</button></div>
    <div class="col-lg-2"><button type="button" class="btn btn-primary" (click)="showDeleteEmployeeDialog()">Delete Employee</button></div>
  </div>
</div>

<p-dialog [(visible)]="showAddEmployee" modal="true">
  <p-header>
    Add employee
  </p-header>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="firstName">First Name:</label></div>
      <div class="ui-grid-col-8">
        <!--<input #fnInput pInputText id="firstName" [ngModel]="newEmployee?.firstName" (ngModelChange)="newEmployee.firstName = $event" />-->
        <input pInputText id="firstName" [(ngModel)]="newEmployee.firstName" />
      </div>
    </div>
    <br>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="lastName">Last Name:</label></div>
      <div class="ui-grid-col-8">
        <input pInputText id="lastName" [(ngModel)]="newEmployee.lastName" />
      </div>
    </div>
    <br>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="department">Department:</label></div>
      <div class="ui-grid-col-8">
        <input pInputText id="department" [(ngModel)]="newEmployee.department" />
      </div>
    </div>
    <br>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="phone">Phone:</label></div>
      <div class="ui-grid-col-8">
        <input pInputText id="phone" [(ngModel)]="newEmployee.phone" />
      </div>
    </div>
  <p-footer>
    <button type="button" pButton (click)="addEmployee()" label="Add"></button>
    <button type="button" pButton (click)="showAddEmployee=false" label="Cancel"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="showDeleteEmployee" modal="true">
  <p-header>
    Delete employee
  </p-header>
  Are you sure you want to delete this record?
  <p-footer>
    <button type="button" pButton (click)="deleteEmployee()" label="Yes"></button>
    <button type="button" pButton (click)="showDeleteEmployee=false" label="No"></button>
  </p-footer>
</p-dialog>
